<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>КиноБаза</h1>
    <h1>Добро пожаловать на стартовую страницу</h1>
    <h2>Введите поисковой запрос:</h2>
    <form role="form" method = "POST">
        <div class="form-group">
            <label>
                Введите поисковой запрос:
            </label>
            <input type="text"  name="read">
        </div>
        <button type="submit">
            Поиск
        </button>
   </form>
</body>
</html>
